<!DOCTYPE html>
<html>
<head>
    {% block meta %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if name %}
    <title>{{ name }} - JSTetris {{ server }}</title>
    {% else %}
    <title>JSTetris {{ server }}</title>
    {% endif %}
    <link rel="stylesheet" href="{{ url_for('static', filename='bulma.min.css') }}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='mystyles.css') }}" />
    {% endblock %}
</head>
<body>
    <section class="hero is-fullheight is-primary">
        <div class="hero-head">
            <nav class="navbar">
                <div class="container">
                    <div id="navMenu" class="navbar-menu">
                        {% if user %}
                        <div class="navbar-start">
                            <a href="{{ url_for('index') }}" class="navbar-item">
                                <span class="icon"><i class="fa fa-home"></i></span>
                                Главная
                            </a>
                            <a href="{{ url_for('table') }}" class="navbar-item">
                                Таблица рекордов
                            </a>
                        </div>
                        {% endif %}
                        <div class="navbar-end">
                            {% if user %}
                            <a href="{{ url_for('chpasswd') }}" class="navbar-item">
                                <h4>Смена пароля</h4>
                            </a>
                            <a href="{{ url_for('logout') }}" class="navbar-item">
                                <h4>Выйти ({{ user }})</h4>
                            </a>
                            {% else %}
                            <a href="{{ url_for('login') }}" class="navbar-item">
                                <h4>Войти в систему</h4>
			                </a>
                            <a href="{{ url_for('registry') }}" class="navbar-item">
                                <h4>Зарегистрироваться</h4>
			                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <div class="hero-body">
           {% block content %}
           {% endblock %}
        </div>
    </section>
</body>
</html>
