{% extends "base.html" %}

{% block content %}
<div class="container has-text-centered">
<div class="column is-4 is-offset-4 has-background-white">
    <h4 class="title has-text-primary">Смена пароля</h4>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="notification is-danger">
        <h4>{{ messages[0] }}</h4>
    </div>
    {% endif %}
    {% endwith %}
    <div class="box">
        <form method="POST" action="/chpasswd">
            <div class="field">
                <label class="label has-text-primary"><h4>Старый пароль</h4></label>
                <div class="control has-icons-left">
                    <input class="input" type="password" name="password0" placeholder="Введите Ваш старый" autofocus="" required  {% if credent %}value="{{ credent[0] }}"{% endif %}>
                    <span class="icon is-small is-left">
                        <i class="fa fa-lock"></i>
                    </span>
                </div>
            </div><br />
            <div class="field">
                <label class="label has-text-primary"><h4>Новый пароль<h4></label>
                <p class="control has-icons-left">
                    <input class="input" type="password" name="password1" placeholder="Введите Ваш новый пароль" required {% if credent %}value="{{ credent[1] }}"{% endif %}>
                    <span class="icon is-small is-left">
                        <i class="fa fa-lock"></i>
                    </span>
                </p>
            </div><br />
            <div class="field">
                <label class="label has-text-primary"><h4>Повторите<h4></label>
                <p class="control has-icons-left">
                    <input class="input" type="password" name="password2" placeholder="Введите Ваш новый пароль ещё раз" required {% if credent %}value="{{ credent[2] }}"{% endif %}>
                    <span class="icon is-small is-left">
                        <i class="fa fa-lock"></i>
                    </span>
                </p>
            </div><br />
            <div class="field is-grouped is-grouped-centered">
                <div class="control">
                    <button class="button is-block is-info is-fullwidth">Обновить</button>
                </div>
            </div>
        </form>
    </div>
</div>
</div>
{% endblock %}
