{% extends "base.html" %}

{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
    <ul class=flashes>
    {% for m in messages %}
    <li id="notify{{ loop.index }}" class="notification is-success">
        <button class="delete" onclick="document.getElementById('notify{{ loop.index }}').style.display = 'none';"></button>
        {{ m }}
    </li>
    {% endfor %}
    </ul>
{% endif %}
{% endwith %}
    <div class="grid">
      <canvas id="board" class="game-board"></canvas>
      <div class="right-column">
        <div>
          <h1>Тетрис</h1>
          <br />
          <p>Счёт: <span id="score">0</span></p>
          <p>Линий: <span id="lines">0</span></p>
          <p>Уровень: <span id="level">0</span></p>
          <canvas id="next" class="next"></canvas>
        </div>
        <div id="sound-div">
          <span class="sound-item" id="sound-speaker"></span>
          <span class="sound-item" id="sound-description"></span>
        </div>
        <button id="play-btn" onclick="play()" class="play-button">Играть!</button>
        <button id="pause-btn" onclick="pause()" class="play-button">Пауза</button>
      </div>
    </div>

    <script type="text/javascript" src="{{ url_for('static', filename='js/constants.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/board.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/piece.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/sound.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}
