{% extends "base.html" %}

{% block content %}
<div class="container has-text-centered">
<div class="column is-4 is-offset-4 has-background-white">
    <h3 class="title has-text-primary">Авторизуйтесь</h3>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="notification is-danger">
        <h4>{{ messages[0] }}</h4>
    </div>
    {% endif %}
    {% endwith %}
    <div class="box">
        <form method="POST" action="/login">
            <div class="field">
                <label class="label has-text-primary"><h4>Логин<h4></label>
                <div class="control has-icons-left">
                    <input class="input" type="text" name="login" placeholder="Введите Ваше имя" autofocus="" required>
                    <span class="icon is-small is-left">
                        <i class="fa fa-user"></i>
                    </span>
                </div>
            </div><br />
            <div class="field">
                <label class="label has-text-primary"><h4>Пароль</h4></label>
                <p class="control has-icons-left">
                    <input class="input" type="password" name="password" placeholder="Введите Ваш пароль" required>
                    <span class="icon is-small is-left">
                        <i class="fa fa-lock"></i>
                    </span>
                </p>
            </div><br />
            <!--
            <div class="field">
                <div class="control">
                    <label class="checkbox">
                        <input type="checkbox">
                        Запомнить меня?
                    </label>
                </div>
            </div>
            -->
            <div class="field is-grouped is-grouped-centered">
                <div class="control">
                    <button class="button is-block is-info is-fullwidth">Войти</button>
                </div>
            </div>
        </form>
    </div>
</div>
</div>
{% endblock %}
