{% extends "base.html" %}

{% block content %}
<div class="content">
<p> Лучший результат текущей сессии: {{ session }} очков. </p>
{% if userscore %}
<p>Лучшие результаты пользователей:</p>
<table class="table is-bordered is-striped is-hoverable">
    <thead><tr>
        <th>Имя пользователя</th>
        <th>Счёт</th>
        <th><abbr title="Дата и время установки рекорда">Время</abbr></th>
    </tr></thead>
    <tbody>
    {% for i in userscore %}
    <tr>
        <td>{{ i[0] }}</td>
        <td>{{ i[1] }}</td>
        <td>{{ i[2] }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}
{% if top10 %}
<p>Топ-10 результатов:</p>
<table class="table is-bordered is-striped is-hoverable">
    <thead><tr>
        <th><abbr title="Позиция">Поз</abbr></th>
        <th>Имя пользователя</th>
        <th>Счёт</th>
        <th><abbr title="Дата и время установки рекорда">Время</abbr></th>
    </tr></thead>
    <tbody>
    {% for i in top10 %}
    <tr>
        <td>{{ loop.index }}</td>
        <td>{{ i[0] }}</td>
        <td>{{ i[1] }}</td>
        <td>{{ i[2] }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}
</div>
{% endblock %}
